.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}


.skillbar-bar {
    height: 3px;
    width: 0px;
    background: white;
}

.skillbar-title {
    color: #323232;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.skill-bar-percent {
    float: right;
    display: inline-block;
    color: #323232;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    width: 100px;
}

/* CENTERING ONLY */


.parallax {height: 175px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}


.intro-sect {


}

.intro1 {
    background-color: #383F51;
    height: 350px;
    background-image: url(assets/travel6.JPG);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding-top: 20px;
}

.intro2 {
    background-color: #BB4430;
    min-height: 320px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 350px;
    padding: 40px;




}

.intro-hi {
    text-align: center;
    font-size: 4em;
    color: white;
    font-style: bold;

}

body {
    font-family: 'Open Sans', sans-serif;
}

.intro-descr {
    color: white;
    font-size: 2em;
}


.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

.@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}



.experience-sect {

}

.headshot {
    border-radius: 1000px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    float: right;
    width: 35%;
    height: auto;
    margin-top: -120px;
    max-width: 320px;
}


.skills {
    background-color: #B1C5DF;
    text-align: center;
    padding: 40px;
}

.intro-body {
   background-image: url(assets/travel4.JPG);
    background-size: 140%;
    background-position: bottom;
    width: 100%;
    height: 101vh;
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-repeat: no-repeat;
}



.bg {

}

.name {
    font-size: 2em;
    color: white;
    padding: 15px 15px;


}


.subtext {
    font-size: 1.3em;
    color: #403A40;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #B1C5DF;
    text-align: right;

    margin-top: -20px;
}

.heading {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #4C608E;
}

.about-me {
    background-color: #403A40;
    min-height: 350px;
    padding: 40px;
}

.section-heading {
    width: 60%;
    color: white;
    text-align: center;
    font-size: 3em;
}

.section-subheading {
     width: 60%;
    padding: 5px;
    font-size: 1.5em;
    font-weight: 500;
    color: black;
    text-align: center;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: 10px;
    margin-bottom: 10px;

}

.about-text-wrapper {
    display: inline-block;
    width: 60%;
    vertical-align: top;
     color: white;
    max-width: 75%;
    text-align: center;
}

.services-wrapper {
    width: 100%;
}

.service-row {
     width: 100%;
}

.service-column {
    padding-top: 10px
}
}

.service-heading {
    text-transform: uppercase;
    font-size: 1em;
    display: inline-block
}

.service-text {
     font-size: 1.1em;
    margin-bottom: 10px;
    white-space: initial
}

.experienceheader {
    font-size: 3em;
}

.skills-sect {
    font-size: 3em;

    color:white;
}

.services-button {
    color: #403A40;
}

.service-subsection {
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    text-align: justify;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.about-text {
    font-size: 1.2em;
}

.menu-bar {
    padding-left: 15px;
    padding-right: 15px;
}
